<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="myBeanPostProcessor" class="com.zkb.springredisstudy.beanlife.MyBeanPostProcessor"/>
    <bean name="personBean" class="com.zkb.springredisstudy.beanlife.PersonBean"
          init-method="init" destroy-method="myDestroy">
        <property name="no" value="80669865"/>
        <property name="name" value="张铁钢"/>
    </bean>

</beans>
